
body {
  background-image: url(Images/man.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Playfair Display', serif; 
  font-size:19px;
  text-align:center;
  display:block;
  margin:20px 70px 20px 70px;
  color:black;
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display SC', serif;
	transition: all 2s;
	margin:auto;
	color: black;
    font-weight: bold;
}
h1
{
	font-size: 5em;
}
h2
{
	font-size: 3em;
}
h3
{
	font-size: 2em;
}

.page-wrapper{
    /*outline:1px solid rgba(0,255,0,0.7)*/
    text-align: center;
    margin; 0 auto;
    width: 800px;
}

/*
h1, h2, h3, h4 {
   transition:all 2s; 
}

Cambio de color

h1:hover {
    color:green;
    font:20px;
    }
*/
section {
    perspective: 400px;
}
    
header{
    font-family: 'Playfair Display SC', serif; 
    text-align: center;
    margin:60px 0;
    animation-name: example;
    animation-duration: 9s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
header h1{
	margin: 0;
	line-height: 1em;
}
header h2{
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    color:rgb(1,1,1);
    font-size:40px; 
    margin:0;
}
@keyframes example {
    0%   {top: 0px; left: 0px; background-color:rgba(32,178,170,0.7);}
    25%  {top: 0px; left: 100px; background-color:rgba(250,128,114,0.7);}
    50%  {top: 100px; left: 100px; background-color:rgba(255,228,225,0.7)}
    75%  {top: 100px; left: 0px; background-color:rgba(152,251,152,0.7)}
    100% {top: 0px; left: 0px; background-color:rgba(0,250,154,0.7)}
}

a {
	color: black;
	text-decoration: none;
    transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
}
a:visited {
    color: #1a5952;
}

.wrapper {    
    background: rgba(255,250,240,0.8);
	border-radius: 8px;
	padding: 3px 3px 3px 3px;
	color: black;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4)
    }   
.wrapper a {
    color:deeppink;
}
    
a:hover, a:focus {
    color:rgb(255,20,147);
    text-decoration: underline;
  }

a:hover {
	color:rgb(255,20,147);
}

.main {
	border-top:1px dashed #FFF;
	margin-top: 40px;
	padding-top: 30px;
}

.preamble {
	background: rgba(255,250,240,0.8);
	border-radius: 8px;
	padding: 3px 3px 3px 3px;
	color: black;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
    margin:0px 0px 60px 0px;
}
.preamble h3 {
	color: rgb(25,25,112) ;
}

.summary {    
    background: rgba(102,205,170,0.8);
	border-radius: 8px;
	padding: 0px 5px 0px 5px;
	color: black;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}

.summary a{    
    color:white;
}

.main-supporting {  
    background: rgba(255,250,240,0.8);
	border-radius: 8px;
	padding: 3px 3px 3px 3px;
	color: black;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4)

}

.main-supporting h3 {    
    color:black;
    background-image: url(Images/giphy.gif);
    text-align: center;
}

